extends layout

block content
  h2.page-title= title
  hr(style="width: 130px")
  if categories.length
    ul#category-list
      each category in categories
        li
          a(href=`${category.url}`)
            .category-card
              .category-card-content
                h2= category.name
                hr(style="width: 60px")
                p #{ category.description }
