extends layout 

block content 

    h2(class="section-title")= title 
    if games.length 
        p #[strong Delete These Games Before Attempting To Delete This Book]
        div
            h4 Games 
            ul 
                for game in games
                    li
                        a(href=`${game.url}`)= game.name


    else 

        form(method="POST")
            div.form-group
                p Do You Really Want To Delete This Category?
                input#admin.form-control(type='text', name="admin" placeholder='Enter Admin Password (Password: admin001)' style="width:300px")
                input#categoryid.form-control(type='hidden', name='categoryid', value=category._id )

            button.submit-btn(type='submit') Delete

        if error
            p= error