extends layout 

block content 
    h2(class='section-title')= title 
    if games.length
        ul(id="game-list") 
            each game in games
                li 
                    a(href=game.url)
                        div(class='game-card')
                            div(class='game-card-content')
                                h2= game.name
                                hr
                                p #{game.description}
                                
                    
