extends layout

block content
  .overview-container
    a.card(href="/store/games")
      .card-content
        h2 Game Count: #{ games }
        p Browse For Your Favourite Games Here!

    a.card(href="/store/categories")
      .card-content
        h2 Category Count: #{ categories }
        p Browse For Your Favourite Categories Here!
