doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    block heading
      div(class="header-container")
        h1 The Game Repository
        div(class='nav-links')
          a(href='/store') Home
          a(href='/store/games') Games
          a(href='/store/categories') Categories
          a(href='/store/game/create') Create Game 
          a(href='/store/category/create') Create Category

    div(class='content')     
      block content
