doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/card.css")
    link(rel="stylesheet", href="/stylesheets/list-details.css")
    link(rel="stylesheet", href="/stylesheets/form.css")
  body
    block heading
      .header-container
        h1 The Game Repository
        .nav-links
          a(href="/store") Home
          a(href="/store/games") Games
          a(href="/store/categories") Categories
          a(href="/store/game/create") Create Game
          a(href="/store/category/create") Create Category

    .content
      block content
