doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="header-container")
      h1= heading
      div(class='nav-links')
        a(href='/store') Home
        a(href='/store/games') Games
        a(href='/store/categories') Categories
    block content
