/* COMMON TAGS STYLES */
:root{
  --greyColor: rgb(25, 25, 25);
  --greenColor: #009e60;
  --goldColor: rgb(255, 215, 137);
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(20, 20, 20);
  color: rgb(255, 215, 137) ;
}

ul{
  list-style: none;
  padding-left: 0;
}

hr{
  color: var(--goldColor);
  opacity: 0.5;
  margin-top: -16px;
}

a {
  text-decoration: none;
  color: var(--goldColor);
}


/* COMMON CLASS AND HOME PAGE STYLES */
.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-links{
  display: flex;
  gap: 30px;
}

.overview-container{
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-left: 250px;
  margin-top: 150px;
  max-width: 1000px;
  width: calc(100% - 2em);
  position: relative;
  z-index: 2;
}
.content{
    padding: 20px;
}

.page-title{
  margin-top: 60px;
  text-align: center;
}

