:root{
  --card-color: rgb(25, 25, 25)
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(20, 20, 20);
  color: rgb(255, 215, 137) ;
}

a {
  text-decoration: none;
  color: rgb(255, 215, 137);
}

ul{
  list-style: none;
  padding-left: 0;
}

/* INDEX PAGE */
.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-links{
  display: flex;
  gap: 30px;
}

.overview-container{
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-left: 250px;
  margin-top: 150px;
  max-width: 1000px;
  width: calc(100% - 2em);
  position: relative;
  z-index: 2;
}

.card,
.game-card,
.category-card{
  background-color: var(--card-color);
  border-radius: 0.75em;
  cursor: pointer;
  width: 400px;
  height: 240px;
  position: relative;
}

.card:hover:before,
.game-card:hover:before,
.category-card:hover:before{
  opacity: 1;
}

.card:before,
.game-card:before,
.category-card:before {
  background: linear-gradient(
    45deg,
    transparent 5%,
    rgb(255, 215, 137) 50%,
    transparent 99%
  );
  border-radius: inherit;
  content: "";
  inset: 0px;
  opacity: 0;
  position: absolute;
  transition: opacity 400ms;
  z-index: 0;
}

.card-content, 
.game-card-content,
.category-card-content{
  background-color: var(--card-color);
  border-radius: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  inset: 1px;
  padding: 1em;
  position: absolute;
}

/* ALL GAMES PAGE*/
#game-list,
#category-list{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 80px;
  gap: 20px;
}

.game-card{
  width: 400px;
}

.section-title{
  margin-top: 100px;
  text-align: center;
}